@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Colors */
  --color-color-1: #ac6aff;
  --color-color-2: #ffc876;
  --color-color-3: #ff776f;
  --color-color-4: #7adb78;
  --color-color-5: #858dff;
  --color-color-6: #ff98e2;

  --color-stroke-1: #26242c;

  --color-n-1: #ffffff;
  --color-n-2: #cac6dd;
  --color-n-3: #ada8c3;
  --color-n-4: #757185;
  --color-n-5: #3f3a52;
  --color-n-6: #252134;
  --color-n-7: #15131d;
  --color-n-8: #0e0c15;
  --color-n-9: #474060;
  --color-n-10: #43435c;
  --color-n-11: #1b1b2e;
  --color-n-12: #2e2a41;
  --color-n-13: #6c7275;

  /* Fonts */
  --font-sans: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  /* Letter spacing */
  --tracking-tagline: 0.15em;

  /* Custom spacing */
  --spacing-0\.25: 0.0625rem;
  --spacing-7\.5: 1.875rem;
  --spacing-15: 3.75rem;

  /* Opacity */
  --opacity-15: 0.15;

  /* Transition */
  --default-transition-duration: 200ms;
  --default-transition-timing-function: linear;

  /* Z-index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;

  /* Border */
  --default-border-width: 0.0625rem;

  /* Backgrounds */
  --background-image-radial-gradient: radial-gradient(
    var(--tw-gradient-stops)
  );

  --background-image-conic-gradient: conic-gradient(
    from 225deg,
    #ffc876,
    #79fff7,
    #9f53ff,
    #ff98e2,
    #ffc876
  );
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-n-8);
  color: var(--color-n-1);
  font-size: 1rem;
}

@layer components {
  .container {
    max-width: 77.5rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
  }

  @media (min-width: 768px) {
    .container {
      padding-inline: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-inline: 3.75rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 87.5rem;
    }
  }

  .h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  @media (min-width: 768px) {
    .h1 {
      font-size: 2.75rem;
      line-height: 3.75rem;
    }
  }

  @media (min-width: 1024px) {
    .h1 {
      font-size: 3.25rem;
      line-height: 4.0625rem;
    }
  }

  @media (min-width: 1280px) {
    .h1 {
      font-size: 3.75rem;
      line-height: 4.5rem;
    }
  }
}

  @utility container {
    @apply max-w-310 mx-auto px-5 md:px-10 lg:px-15 xl:max-w-350;
  }

  @utility h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem]
          md:text-[2.75rem] md:leading-[3.75rem]
          lg:text-[3.25rem] lg:leading-[4.0625rem]
          xl:text-[3.75rem] xl:leading-[4.5rem];
  }

  @utility h2 {
    @apply text-[1.75rem] leading-[2.5rem]
          md:text-[2rem] md:leading-[2.5rem]
          lg:text-[2.5rem] lg:leading-[3.5rem]
          xl:text-[3rem] xl:leading-tight;
  }

  @utility h3 {
    @apply text-[2rem] leading-normal md:text-[2.5rem];
  }
  @utility h4 {
  @apply text-[2rem] leading-normal;
}

@utility h5 {
  @apply text-2xl leading-normal;
}

@utility h6 {
  @apply font-semibold text-lg leading-8;
}

  @utility body-1 {
    @apply text-[0.875rem] leading-[1.5rem]
          md:text-[1rem] md:leading-[1.75rem]
          lg:text-[1.25rem] lg:leading-8;
  }

  @utility body-2 {
  @apply font-light text-[0.875rem] leading-6 md:text-base;
  }

  @utility button {
    @apply font-code text-xs font-bold uppercase tracking-wider;
  }

  @utility tagline {
    @apply font-grotesk text-xs font-light uppercase tracking-tagline;
  }

  @utility tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}