@import "tailwindcss";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@theme {
  /* Colors */
  --color-color-1: #ac6aff;
  --color-color-2: #ffc876;
  --color-color-3: #ff776f;
  --color-color-4: #7adb78;
  --color-color-5: #858dff;
  --color-color-6: #ff98e2;

  --color-stroke-1: #26242c;

  --color-n-1: #ffffff;
  --color-n-2: #cac6dd;
  --color-n-3: #ada8c3;
  --color-n-4: #757185;
  --color-n-5: #3f3a52;
  --color-n-6: #252134;
  --color-n-7: #15131d;
  --color-n-8: #0e0c15;
  --color-n-9: #474060;
  --color-n-10: #43435c;
  --color-n-11: #1b1b2e;
  --color-n-12: #2e2a41;
  --color-n-13: #6c7275;

  /* Fonts */
  --font-sans: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;

  /* Letter spacing */
  --tracking-tagline: 0.15em;

  /* Custom spacing */
  --spacing-0\.25: 0.0625rem;
  --spacing-7\.5: 1.875rem;
  --spacing-15: 3.75rem;

  /* Opacity */
  --opacity-15: 0.15;

  /* Transition */
  --default-transition-duration: 200ms;
  --default-transition-timing-function: linear;

  /* Z-index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;

  /* Border */
  --default-border-width: 0.0625rem;

  /* Backgrounds */
  --background-image-radial-gradient: radial-gradient(
    var(--tw-gradient-stops)
  );

  --background-image-conic-gradient: conic-gradient(
    from 225deg,
    #ffc876,
    #79fff7,
    #9f53ff,
    #ff98e2,
    #ffc876
  );
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-n-8);
  color: var(--color-n-1);
  font-size: 1rem;
}

@layer components {
  .container {
    max-width: 77.5rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
  }

  @media (min-width: 768px) {
    .container {
      padding-inline: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-inline: 3.75rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 87.5rem;
    }
  }

  .h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  @media (min-width: 768px) {
    .h1 {
      font-size: 2.75rem;
      line-height: 3.75rem;
    }
  }

  @media (min-width: 1024px) {
    .h1 {
      font-size: 3.25rem;
      line-height: 4.0625rem;
    }
  }

  @media (min-width: 1280px) {
    .h1 {
      font-size: 3.75rem;
      line-height: 4.5rem;
    }
  }
}